flows.json
[
    {
        "id": "615ccb2160d72fa8",
        "type": "tab",
        "label": "스마트 연구실",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e02759af78813ba7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a2bec0961f1e0af3",
        "type": "ui_tab",
        "name": "ICS-LAB",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5090191ebefd80a3",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#15322d",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#c5c5e9",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#15322d",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#15322d",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#2c685d",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#15322d",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "ICS-LAB",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "YYYY-MM-DD",
            "sizes": {
                "sx": 62,
                "sy": 62,
                "gx": 0,
                "gy": 0,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "56a7bdd45e35d165",
        "type": "ui_group",
        "name": "냉난방기 제어",
        "tab": "a2bec0961f1e0af3",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8ce9707587f6f7e9",
        "type": "ui_spacer",
        "z": "615ccb2160d72fa8",
        "name": "spacer",
        "group": "56a7bdd45e35d165",
        "order": 12,
        "width": "3",
        "height": "1"
    },
    {
        "id": "86dbdc4a92a582ee",
        "type": "ui_spacer",
        "z": "615ccb2160d72fa8",
        "name": "spacer",
        "group": "56a7bdd45e35d165",
        "order": 6,
        "width": "3",
        "height": "1"
    },
    {
        "id": "b42ada0933abdaa9",
        "type": "mqtt in",
        "z": "615ccb2160d72fa8",
        "name": "센서 데이터 수신",
        "topic": "sensor_data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "e02759af78813ba7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "91e906e7b2b14954",
                "b21e0ae61784ae5c"
            ]
        ]
    },
    {
        "id": "08c1e29cc264fc28",
        "type": "comment",
        "z": "615ccb2160d72fa8",
        "name": "온습도 데이터 수신",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "91e906e7b2b14954",
        "type": "debug",
        "z": "615ccb2160d72fa8",
        "name": "센서 데이터 수신 (debug)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 240,
        "wires": []
    },
    {
        "id": "567b3a5387709ae5",
        "type": "comment",
        "z": "615ccb2160d72fa8",
        "name": "냉난방기 제어",
        "info": "",
        "x": 130,
        "y": 340,
        "wires": []
    },
    {
        "id": "b1f5245e0d23dbce",
        "type": "ui_text",
        "z": "615ccb2160d72fa8",
        "group": "56a7bdd45e35d165",
        "order": 2,
        "width": "6",
        "height": 1,
        "name": "온도",
        "label": "온도",
        "format": "{{msg.temp}}",
        "layout": "row-spread",
        "className": "",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "ba088736d9801ed7",
        "type": "ui_text",
        "z": "615ccb2160d72fa8",
        "group": "56a7bdd45e35d165",
        "order": 3,
        "width": "6",
        "height": 1,
        "name": "습도",
        "label": "습도",
        "format": "{{msg.humi}}",
        "layout": "row-spread",
        "className": "",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "4878258faaabf8dd",
        "type": "ui_button",
        "z": "615ccb2160d72fa8",
        "name": "ON 버튼",
        "group": "56a7bdd45e35d165",
        "order": 18,
        "width": "3",
        "height": 1,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "e138dddcee584232"
            ]
        ]
    },
    {
        "id": "917fc7c5702ef04f",
        "type": "ui_slider",
        "z": "615ccb2160d72fa8",
        "name": "온도 슬라이더",
        "label": "",
        "tooltip": "",
        "group": "56a7bdd45e35d165",
        "order": 15,
        "width": "4",
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "18",
        "max": "25",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 900,
        "wires": [
            [
                "bd3c360604f0a7e5"
            ]
        ]
    },
    {
        "id": "b04e0b9fd76c390d",
        "type": "ui_button",
        "z": "615ccb2160d72fa8",
        "name": "OFF 버튼",
        "group": "56a7bdd45e35d165",
        "order": 19,
        "width": "3",
        "height": 1,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"code\":\"C_M_002\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 760,
        "wires": [
            [
                "b8de62859a906065",
                "7bb7916462777814"
            ]
        ]
    },
    {
        "id": "1dc7c8e24b9abb63",
        "type": "ui_text",
        "z": "615ccb2160d72fa8",
        "group": "56a7bdd45e35d165",
        "order": 14,
        "width": "2",
        "height": 1,
        "name": "설정 온도 출력",
        "label": "온도설정",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 550,
        "y": 900,
        "wires": []
    },
    {
        "id": "bd3c360604f0a7e5",
        "type": "function",
        "z": "615ccb2160d72fa8",
        "name": "온도 값 저장",
        "func": "global.set(\"setTemp\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 900,
        "wires": [
            [
                "1dc7c8e24b9abb63"
            ]
        ]
    },
    {
        "id": "4f71a6142fb95c9c",
        "type": "mqtt out",
        "z": "615ccb2160d72fa8",
        "name": "냉난방기 ON (MQTT)",
        "topic": "air_conditioner",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e02759af78813ba7",
        "x": 570,
        "y": 620,
        "wires": []
    },
    {
        "id": "b8de62859a906065",
        "type": "mqtt out",
        "z": "615ccb2160d72fa8",
        "name": "냉난방기 OFF (MQTT)",
        "topic": "air_conditioner",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e02759af78813ba7",
        "x": 360,
        "y": 760,
        "wires": []
    },
    {
        "id": "eab118d7b8ffc421",
        "type": "debug",
        "z": "615ccb2160d72fa8",
        "name": "냉난방기 ON (debug)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 660,
        "wires": []
    },
    {
        "id": "7bb7916462777814",
        "type": "debug",
        "z": "615ccb2160d72fa8",
        "name": "냉난방기 OFF (debug)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 800,
        "wires": []
    },
    {
        "id": "a1caaff0b9f56762",
        "type": "ui_text",
        "z": "615ccb2160d72fa8",
        "group": "56a7bdd45e35d165",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "센서 데이터",
        "label": "<h3>온습도 현황</h3>",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 130,
        "y": 100,
        "wires": []
    },
    {
        "id": "e138dddcee584232",
        "type": "function",
        "z": "615ccb2160d72fa8",
        "name": "설정 값 전송",
        "func": "msg.payload = {\n    \"code\": \"C_M_001\",\n    \"temp\": global.get(\"setTemp\"),\n    \"flow\": global.get(\"setFlow\")\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 620,
        "wires": [
            [
                "4f71a6142fb95c9c",
                "eab118d7b8ffc421"
            ]
        ]
    },
    {
        "id": "2454d09e46ff46f5",
        "type": "mqtt out",
        "z": "615ccb2160d72fa8",
        "name": "냉난방기 ON (MQTT)",
        "topic": "air_conditioner",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e02759af78813ba7",
        "x": 930,
        "y": 480,
        "wires": []
    },
    {
        "id": "59d44b928ddc392e",
        "type": "function",
        "z": "615ccb2160d72fa8",
        "name": "자동모드 로직",
        "func": "// 컨트롤러로 전송할 메시지 객체\nconst send = {\n    \"code\": \"C_M_001\",\n    \"temp\": global.get(\"setTemp\"),\n    \"flow\": global.get(\"setFlow\")\n}\n\n// Flag 초기화를 위한 함수\nconst clearFlag = () => {\n    global.set(\"flag\", 0);\n}\n\n// 설정온도+2℃ 를 기준으로 자동모드 동작\nlet autoTemp = global.get(\"setTemp\") + 2;\n\n// 3분에 한 번씩 온도 CHK'\nif (msg.temp <= autoTemp && global.get(\"flag\") == 0) {\n    msg.payload = send;\n    global.set(\"flag\", 1);\n    setTimeout(clearFlag, 180000); // 3분 후 Flag 초기화\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 480,
        "wires": [
            [
                "71cb4b2be2c4849a"
            ]
        ]
    },
    {
        "id": "813d25a5617b6aba",
        "type": "switch",
        "z": "615ccb2160d72fa8",
        "name": "자동모드 C\bHK'",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 480,
        "wires": [
            [
                "59d44b928ddc392e"
            ]
        ]
    },
    {
        "id": "9e41642d71a7a61e",
        "type": "ui_text",
        "z": "615ccb2160d72fa8",
        "group": "56a7bdd45e35d165",
        "order": 10,
        "width": "6",
        "height": "1",
        "name": "냉난방기 제어",
        "label": "<h3>냉난방기 제어</h3>",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 130,
        "y": 380,
        "wires": []
    },
    {
        "id": "130ac3e6511497bd",
        "type": "inject",
        "z": "615ccb2160d72fa8",
        "name": "최초 1회만 실행",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1260,
        "y": 100,
        "wires": [
            [
                "d26250735c0d735a"
            ]
        ]
    },
    {
        "id": "d26250735c0d735a",
        "type": "function",
        "z": "615ccb2160d72fa8",
        "name": "flag 전역변수 설정",
        "func": "global.set(\"flag\", msg.payload);\nglobal.set(\"flag2\", msg.payload);\nglobal.set(\"flag3\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c91b201945dadbe8",
        "type": "debug",
        "z": "615ccb2160d72fa8",
        "name": "자동모드 수행 (debug)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 520,
        "wires": []
    },
    {
        "id": "b21e0ae61784ae5c",
        "type": "function",
        "z": "615ccb2160d72fa8",
        "name": "Payload 변경",
        "func": "msg.temp = msg.payload.temp;\nmsg.humi = msg.payload.humi;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 140,
        "wires": [
            [
                "b1f5245e0d23dbce",
                "ba088736d9801ed7",
                "80df93d136d84a9d",
                "4901359d2fc2159c"
            ]
        ]
    },
    {
        "id": "ee28393bc0245e03",
        "type": "comment",
        "z": "615ccb2160d72fa8",
        "name": "전역변수 선언",
        "info": "",
        "x": 1250,
        "y": 60,
        "wires": []
    },
    {
        "id": "f95b2ca9da0178ee",
        "type": "ui_slider",
        "z": "615ccb2160d72fa8",
        "name": "바람세기 슬라이더",
        "label": "",
        "tooltip": "",
        "group": "56a7bdd45e35d165",
        "order": 17,
        "width": "4",
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "3",
        "step": 1,
        "className": "",
        "x": 140,
        "y": 1000,
        "wires": [
            [
                "cc9905d62a3faa75"
            ]
        ]
    },
    {
        "id": "83a01a65287a81c8",
        "type": "ui_text",
        "z": "615ccb2160d72fa8",
        "group": "56a7bdd45e35d165",
        "order": 16,
        "width": "2",
        "height": 1,
        "name": "바람세기 출력",
        "label": "바람세기",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 730,
        "y": 1000,
        "wires": []
    },
    {
        "id": "cc9905d62a3faa75",
        "type": "function",
        "z": "615ccb2160d72fa8",
        "name": "바람세기 값 저장",
        "func": "global.set(\"setFlow\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1000,
        "wires": [
            [
                "688e183d854538af"
            ]
        ]
    },
    {
        "id": "688e183d854538af",
        "type": "change",
        "z": "615ccb2160d72fa8",
        "name": "치환",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "약",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "중",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "2",
                "fromt": "num",
                "to": "강",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "3",
                "fromt": "num",
                "to": "자동",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1000,
        "wires": [
            [
                "83a01a65287a81c8"
            ]
        ]
    },
    {
        "id": "ece5e5b5b2d9efb4",
        "type": "http in",
        "z": "615ccb2160d72fa8",
        "name": "HTTP [POST] | URL: /code",
        "url": "control",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 1290,
        "y": 240,
        "wires": [
            [
                "3b2f98410fac5bc6",
                "a884051d814371e1"
            ]
        ]
    },
    {
        "id": "3b2f98410fac5bc6",
        "type": "switch",
        "z": "615ccb2160d72fa8",
        "name": "",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "C_M_001",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "C_M_002",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "C_M_003",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "C_M_004",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1510,
        "y": 300,
        "wires": [
            [
                "e138dddcee584232"
            ],
            [
                "b8de62859a906065"
            ],
            [
                "38017111770b7696"
            ],
            [
                "f14d3d9f6f708229"
            ]
        ]
    },
    {
        "id": "a884051d814371e1",
        "type": "http response",
        "z": "615ccb2160d72fa8",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1540,
        "y": 240,
        "wires": []
    },
    {
        "id": "80df93d136d84a9d",
        "type": "ui_switch",
        "z": "615ccb2160d72fa8",
        "name": "자동모드",
        "label": "",
        "tooltip": "",
        "group": "56a7bdd45e35d165",
        "order": 13,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "f47a3c0cab2c6cc8",
                "813d25a5617b6aba"
            ]
        ]
    },
    {
        "id": "26cfee0a2db1a8c6",
        "type": "ui_text",
        "z": "615ccb2160d72fa8",
        "group": "56a7bdd45e35d165",
        "order": 11,
        "width": "2",
        "height": "1",
        "name": "운전모드 출력",
        "label": "운전모드",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 550,
        "y": 420,
        "wires": []
    },
    {
        "id": "f47a3c0cab2c6cc8",
        "type": "function",
        "z": "615ccb2160d72fa8",
        "name": "Payload 변경",
        "func": "if(msg.payload == true) {\n    msg.payload = \"자동\";\n} else {\n    msg.payload = \"수동\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 420,
        "wires": [
            [
                "26cfee0a2db1a8c6"
            ]
        ]
    },
    {
        "id": "3805df55d33c1af1",
        "type": "comment",
        "z": "615ccb2160d72fa8",
        "name": "HTTP | 디스코드 봇 연동",
        "info": "",
        "x": 1280,
        "y": 200,
        "wires": []
    },
    {
        "id": "a58a761fb79c5084",
        "type": "comment",
        "z": "615ccb2160d72fa8",
        "name": "가습기 제어",
        "info": "",
        "x": 120,
        "y": 1100,
        "wires": []
    },
    {
        "id": "c9c2cf4a963db530",
        "type": "ui_text",
        "z": "615ccb2160d72fa8",
        "group": "56a7bdd45e35d165",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "가습기 제어",
        "label": "<h3>가습기 제어</h3>",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 130,
        "y": 1140,
        "wires": []
    },
    {
        "id": "f4438f6ee56726a0",
        "type": "ui_slider",
        "z": "615ccb2160d72fa8",
        "name": "습도 슬라이더",
        "label": "",
        "tooltip": "",
        "group": "56a7bdd45e35d165",
        "order": 9,
        "width": "4",
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "15",
        "max": "30",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 1480,
        "wires": [
            [
                "1057968663c60820"
            ]
        ]
    },
    {
        "id": "1b398ce3a9557633",
        "type": "ui_text",
        "z": "615ccb2160d72fa8",
        "group": "56a7bdd45e35d165",
        "order": 8,
        "width": "2",
        "height": 1,
        "name": "설정 습도 출력",
        "label": "습도설정",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 550,
        "y": 1480,
        "wires": []
    },
    {
        "id": "1057968663c60820",
        "type": "function",
        "z": "615ccb2160d72fa8",
        "name": "습도 값 저장",
        "func": "global.set(\"setHumi\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1480,
        "wires": [
            [
                "1b398ce3a9557633"
            ]
        ]
    },
    {
        "id": "f14d3d9f6f708229",
        "type": "mqtt out",
        "z": "615ccb2160d72fa8",
        "name": "가습기 OFF (MQTT)",
        "topic": "humidifier",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e02759af78813ba7",
        "x": 1190,
        "y": 1320,
        "wires": []
    },
    {
        "id": "288f103301750a40",
        "type": "debug",
        "z": "615ccb2160d72fa8",
        "name": "가습기 OFF (debug)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 1360,
        "wires": []
    },
    {
        "id": "6d2ed296e70e59f8",
        "type": "mqtt out",
        "z": "615ccb2160d72fa8",
        "name": "가습기 작동 (MQTT)",
        "topic": "humidifier",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e02759af78813ba7",
        "x": 1190,
        "y": 1240,
        "wires": []
    },
    {
        "id": "38017111770b7696",
        "type": "function",
        "z": "615ccb2160d72fa8",
        "name": "가습기 동작 로직",
        "func": "// 컨트롤러로 전송할 메시지 객체\nconst sendOn = {\n    \"code\": \"C_M_003\"\n}\nconst sendOff = {\n    \"code\": \"C_M_004\"\n}\n\n// 설정습도 +3% 이하일 때 동작\nif (msg.humi <= global.get(\"setHumi\") + 3) {\n    if (global.get(\"flag2\") == 0) {\n        msg.payload = sendOn;\n        global.set(\"flag2\", 1);\n    }\n} else {\n    if (global.get(\"flag2\") == 1) {\n        msg.payload = sendOff;\n        global.set(\"flag2\", 0);\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1240,
        "wires": [
            [
                "d738ee4dc7579e72"
            ]
        ]
    },
    {
        "id": "652c600013cc820e",
        "type": "switch",
        "z": "615ccb2160d72fa8",
        "name": "ON/OFF C\bHK'",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 340,
        "y": 1240,
        "wires": [
            [
                "049782193cff8818"
            ],
            [
                "300af0264de636cb"
            ]
        ]
    },
    {
        "id": "8fe5bee54d3ef214",
        "type": "debug",
        "z": "615ccb2160d72fa8",
        "name": "가습기 작동 (debug)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 1280,
        "wires": []
    },
    {
        "id": "4901359d2fc2159c",
        "type": "ui_switch",
        "z": "615ccb2160d72fa8",
        "name": "운전모드",
        "label": "",
        "tooltip": "",
        "group": "56a7bdd45e35d165",
        "order": 7,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 1180,
        "wires": [
            [
                "f5237e867668a3ab",
                "652c600013cc820e"
            ]
        ]
    },
    {
        "id": "9793349d623fa4be",
        "type": "ui_text",
        "z": "615ccb2160d72fa8",
        "group": "56a7bdd45e35d165",
        "order": 5,
        "width": "2",
        "height": "1",
        "name": "운전모드 출력",
        "label": "운전모드",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 550,
        "y": 1180,
        "wires": []
    },
    {
        "id": "f5237e867668a3ab",
        "type": "function",
        "z": "615ccb2160d72fa8",
        "name": "Payload 변경",
        "func": "if(msg.payload == true) {\n    msg.payload = \"켜짐\";\n} else {\n    msg.payload = \"꺼짐\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1180,
        "wires": [
            [
                "9793349d623fa4be"
            ]
        ]
    },
    {
        "id": "300af0264de636cb",
        "type": "function",
        "z": "615ccb2160d72fa8",
        "name": "설정 값 전송",
        "func": "msg.payload = {\n    \"code\": \"C_M_004\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1320,
        "wires": [
            [
                "bd89d33c7b7cb0cd"
            ]
        ]
    },
    {
        "id": "71cb4b2be2c4849a",
        "type": "switch",
        "z": "615ccb2160d72fa8",
        "name": "필터",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 480,
        "wires": [
            [
                "2454d09e46ff46f5",
                "c91b201945dadbe8"
            ]
        ]
    },
    {
        "id": "bd89d33c7b7cb0cd",
        "type": "switch",
        "z": "615ccb2160d72fa8",
        "name": "필터",
        "property": "flag3",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 1320,
        "wires": [
            [
                "aae1aaf777445e21"
            ]
        ]
    },
    {
        "id": "aae1aaf777445e21",
        "type": "function",
        "z": "615ccb2160d72fa8",
        "name": "Flag 설정",
        "func": "global.set(\"flag2\", 0);\nglobal.set(\"flag3\", 1);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1320,
        "wires": [
            [
                "f14d3d9f6f708229",
                "288f103301750a40"
            ]
        ]
    },
    {
        "id": "049782193cff8818",
        "type": "function",
        "z": "615ccb2160d72fa8",
        "name": "Flag 설정",
        "func": "global.set(\"flag3\", 0);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1240,
        "wires": [
            [
                "38017111770b7696"
            ]
        ]
    },
    {
        "id": "d738ee4dc7579e72",
        "type": "switch",
        "z": "615ccb2160d72fa8",
        "name": "필터",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 970,
        "y": 1240,
        "wires": [
            [
                "6d2ed296e70e59f8",
                "8fe5bee54d3ef214"
            ]
        ]
    }
]